.landing {
    font-family: var(--font-inter);
    color: var(--primary);
    margin-top: 20vh;
}

.web-logo {
    scale: 1.3;
}
.Heading {
    display: flex;
    flex-direction: column;
    font-size: 4.2rem;
    line-height: 4rem;
    text-shadow: var(--shadow);
}

.sub-heading {
    text-shadow: var(--shadow);
    font-size: 1.6rem;
}
.btns {
    margin-top: 2.5vh;
    display: flex;
}
.mobile-login {
    margin-left: 1.2rem;
    display: none;
}

.discrip {
    margin-top: 1vh;
    width: 350px;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}


/* Responsive CSss */

@media screen and (max-width: 480px) {
    .landing {
        margin-top: 22vh;
        padding-left: 3vh;
    }
    .Heading {
        font-size: 2.8rem;
        line-height: 3rem;

    }
    .sub-heading {
        font-size: 1.2rem;
    }
    .mobile-login {
        display: block;
    }
    .discrip {
        width: 220px;
        font-weight: 300;
        font-size: 0.6rem;
        letter-spacing: 0.05rem;
    }
    .web-logo {
        scale: 1.3;
        display: none;
    }
    
}

@media screen and (max-width: 320px) {
    .landing {
        margin-top: 22vh;
        padding-left: 3vh;
    }
    .Heading {
        font-size: 2.4rem;
    }
    .sub-heading {
        font-size: 1rem;
    }
    .mobile-login {
        display: block;
    }
}