/* General styling */
body {
    font-family: var(--font-inter) , sans-serif;
    margin: 0;
    background-image: url('/assets/background/mainback.png');
    background-repeat: none;
    background-size: cover;
}
.navbar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: transparent;
}
.navbar>div {
    justify-content: center;
}
.weblogo {
    font-family: var(--font-inter);
    font-weight: bold !important;
    font-size: 1.8rem;
    color: var(--primary);
    text-shadow: 0px 3px 3px rgba(0,0,0,0.36);
}
.weblogo:hover {
    color: var(--primary);
}
.left-bar {
    display: flex;
}

.extra-links {
    display: flex;
    justify-content: space-between;
    width: 34rem;
    font-size: 1.1rem;
    align-items: center;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.36);
}
.extra-links>a {
    color: var(--primary);
}




