/* General styling */
body {
    font-family: var(--font-inter), sans-serif;
    background-image: url('/assets/background/mainback.png');
    background-repeat:  no-repeat;
    background-size: 1536px 732px;
}

.navbar-brand {
    color: var(--primary) !important;
    font-family: var(--font-inter);
    font-size: 1.8rem;
}
.navbar-brand>img {
    height: 2rem;
}

.nav-link {
    color: var(--primary-light) !important;
    font-size: 1.1rem;
}
.nav-link:hover {
    color: var(--primary) !important;
    text-shadow: -1px -1px 9px var(--primary);
}

.navbar {
    padding: 0.8rem 2rem;
}

/* footer css */

footer {
    background-color: var(--primary);
    color: var(--secondary) !important;
}
.ft-icons {
    color: var(--secondary);
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.ft-icons:hover {
    color: var(--secondary);
}