body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-21xl: 2.5rem;
  --font-size-77xl: 6rem;
  --font-size-10xl: 1.813rem;
  --font-size-29xl: 3rem;
  --font-size-11xl: 1.875rem;

  /* Colors */
  --primary: #d9d9d9;
  --color-silver: #bfbfbf;
  --secondary: #1a1d26;

  /* Paddings */
  --padding-31xl: 3.125rem;
  --padding-6xl: 1.563rem;
  --padding-xs: 0.75rem;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-18xl-5: 37.5px;
}
