.pikaso-reimagine-3d-model-clos-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.website-logo {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  white-space: nowrap;
}
.documentation,
.website-logo {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.nav-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.github {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 6.438rem;
  z-index: 1;
}
.nav-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.about-us {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.nav-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.contact-us {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.nav-links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.login-btn-child {
  height: 3.75rem;
  width: 11.719rem;
  position: relative;
  border-radius: var(--br-18xl-5);
  background-color: var(--primary);
  display: none;
}
.login {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--secondary);
  text-align: left;
  display: inline-block;
  min-width: 5.063rem;
  z-index: 1;
}
.documentation-and-git-hub,
.login-btn,
.title-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.login-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 3.313rem;
  background-color: var(--primary);
  border-radius: var(--br-18xl-5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  z-index: 1;
}
.login-btn:hover,
.try-now-btn:hover {
  background-color: var(--color-silver);
}
.documentation-and-git-hub,
.title-bar {
  max-width: 100%;
}
.title-bar {
  width: 57.906rem;
  justify-content: flex-start;
  gap: 1.863rem;
  font-size: var(--font-size-11xl);
}
.documentation-and-git-hub {
  align-self: stretch;
  justify-content: space-between;
  gap: 1.25rem;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--primary);
  font-family: var(--font-inter);
}
.handflow {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.device-control,
.landing-subtitle {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.device-control {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.landing-subtitle {
  font-size: var(--font-size-21xl);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.device-control-parent,
.handflow-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.device-control-parent {
  margin-top: -1rem;
}
.handflow-parent {
  max-width: 100%;
}
.try-now-btn-child {
  height: 5rem;
  width: 15.625rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--primary);
  display: none;
}
.try-now {
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--secondary);
  text-align: left;
  z-index: 1;
}
.try-now-btn {
  cursor: pointer;
  border: 0;
  padding: 1rem 2.75rem;
  background-color: var(--primary);
  border-radius: var(--br-31xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent,
.website-landing-page-pc-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 42.875rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.813rem;
}
.website-landing-page-pc-inner {
  width: 64.5rem;
  flex-direction: row;
  justify-content: center;
}
.website-landing-page-pc {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-31xl) 21.5rem;
  box-sizing: border-box;
  gap: 14.813rem;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--primary);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .title-bar {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .device-control,
  .handflow {
    font-size: var(--font-size-29xl);
  }
  .landing-subtitle {
    font-size: 2rem;
  }
  .website-landing-page-pc {
    gap: 7.375rem;
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    gap: 1.375rem;
  }
  .website-landing-page-pc {
    gap: 3.688rem;
  }
}
@media screen and (max-width: 450px) {
  .device-control,
  .handflow {
    font-size: var(--font-size-10xl);
  }
  .landing-subtitle {
    font-size: 1.5rem;
  }
}
